.backgroudn-form {
  background: url("assets/image/uin1.png");
  position: absolute;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 30rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}
.box-nav {
  background: transparent;
}
.backgroudn-form .box-form {
  background: url("assets/image/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.backgroudn-form form {
  margin-left: 8rem;
}
.btn.btn-primary {
  background-color: #01ceaf;
  border-color: #01ceaf;
}
.is-two-thirds {
  background-color: #01ceaf;
  height: 80vh;
  overflow: auto;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.btn-edit {
  margin-top: 3rem;
}
.hero .box-img {
  width: 550px;
}
.hero .box-img img {
  width: 100%;
  object-fit: cover;
}

.bg-anggota {
  margin-top: 1.3rem;
  height: 500px;
  z-index: -3;
  width: 120%;
  left: 1;
  /* transform: rotate(3deg); */
  right: 0;
  position: absolute;
  background-color: #01ceaf;
}
.anggota-title {
  background-color: #01ceaf;
  border-radius: 20px;
  padding: 0.8rem;
  margin: 0 auto;
  width: 300px;
}
